<div class="container logInForm" ng-controller="LoginController">
    <div class="row">
        
        <form name="LogInForm" novalidate ng-submit="login()">
                <h1>News Blogs Login</h1>
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="LogInForm.$invalid" >Log In</button>
            <div ng-show="LogInForm.$error.required && LogInForm.$dirty" id="errorShow">
                <span>UserName/Email and Password required</span>
            </div>
          </form>
    </div>
    <div class="row regBtm">
            <button type="submit" class="btn btn-primary"  ng-click="reg()">Register For New User</button>
    </div>
</div>